
# Created by https://www.toptal.com/developers/gitignore/api/ansible
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible

### Ansible ###
*.retry

# End of https://www.toptal.com/developers/gitignore/api/ansible


# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode


# Created by https://www.toptal.com/developers/gitignore/api/venv
# Edit at https://www.toptal.com/developers/gitignore?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
venv
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/venv

